app = "skillmap-ml"
primary_region = "iad"

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "requests"
    soft_limit = 5
    hard_limit = 8

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
